<form novalidate [formGroup]="formGroup" (submit)="enviarForm($event)">
  <div class="row">
    <div class="col-md-8">    
      <app-dados-pessoais (valor)="getDadosPessoais($event)"></app-dados-pessoais>  
      <div *ngIf="checkedAcompanhante">
        <h3>Acompanhante</h3>
        <app-dados-pessoais (valor)="getDadosPessoais($event)"></app-dados-pessoais>  
      </div>
      <div class="form-check">
        <input  type="checkbox" class="form-check-input" id="acompanhanteCheck" (change)="checandoAcompanhante($event)">
        <label class="form-check-label" for="acompanhanteCheck">Adicionar Acompanhante</label>
      </div>    
      <button type="submit" class="btn btn-primary pull-right" [disabled]="formGroup.invalid">ENVIAR</button>  
    </div>
    
    <div class="col-md-4">
      TESTE INGRESSO
    </div>
  </div>
</form>